@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import "tailwindcss";


@theme{
  
  --color-primary : #86c443;
  --color-secondary: #18AAB0;
  --color-mainblack: #454545;
   --font-head: 'Abril Fatface', serif;
 
}

@theme {
  --breakpoint-xs: 400px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280x;
  --breakpoint-2xl: 1536x;
}